<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="ExamTrackerConnectionString"
			 connectionString="
			 Server=DESKTOP-9S447DF\SQLEXPRESS;
			 Database=examTrackerDB;
			 Trusted_connection=True;"
			 providerName ="System.Data.SqlClient"/>

		<add name ="SQLiteConnectionString"
			 connectionString="Data Source=.\ExamTrackerDB.db;"
			 providerName ="System.Data.SQLite"/>
		
	</connectionStrings>

	<appSettings>
		<add key="Lang" value="pl_pl" />

		<!--values are sql and sqlite-->
		<add key="repositoryType" value="sqlite"/>
	</appSettings>
</configuration>